In [12]:
import pandas as pd

In [13]:
pd.DataFrame

pandas.core.frame.DataFrame

In [14]:
pwd

'C:\\Users\\ixw35\\InteractiveData Spring 24'

In [22]:
pd.read_csv('cces_example_data.csv')

,pew_religimp,pew_churatd,sex,educ,nonwhite,age,faminc_new,pid3,ideo5,QueerPhobia,...,InterGBiasParty,InterGBiasCand,InterGBiasSup,LibMediaUse,ConMediaUse,Real_Threat,Symb_Threat,Evaluation,teamweight,caseid
0,2,6,2,2,1,56,6,1,1,1.000000,...,-99,-99,-96,2.666667,1.000000,5.00,4.857143,0,0.505028,1231308943
1,2,4,2,5,1,53,13,1,2,3.000000,...,-100,-100,-100,2.000000,2.000000,5.00,5.000000,0,0.852381,1232300315
2,1,2,1,2,1,69,10,2,5,4.333333,...,99,99,96,1.000000,1.000000,5.00,5.000000,2,1.320189,1232358697
3,2,3,1,6,1,76,97,1,3,1.000000,...,-86,-91,-89,4.666667,1.333333,4.25,4.428571,0,0.519198,1232540961
4,4,5,2,6,1,83,4,1,2,1.000000,...,-80,-88,-87,4.666667,3.666667,4.25,5.000000,0,1.154005,1232580601
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
654,1,5,2,2,2,30,4,1,1,2.666667,...,-79,-90,-67,1.666667,1.666667,3.00,3.000000,3,1.182346,1259989749
655,2,2,1,4,1,19,97,1,1,1.000000,...,-49,-25,-7,2.666667,1.000000,3.75,4.714286,0,0.660217,1260782541
656,4,6,1,3,1,20,7,1,1,1.000000,...,-47,-47,-41,4.666667,4.666667,5.00,4.285714,0,1.027184,1260840787
657,2,2,1,3,1,23,5,2,4,3.666667,...,40,99,94,2.000000,2.333333,2.50,3.000000,2,1.433068,1261039231
658,2,2,1,3,1,23,5,2,4,3.666667,...,40,99,94,2.000000,2.333333,2.50,3.000000,2,1.433068,1261039231

*Just wanted to try to import the csv file that I didn't get a chance to in class*

In [30]:
my_list = [{'a': 2, 'b': 26, 'c':28}, {'a':19, 'b':12, 'c':29}, {'a':27, 'b':23,'c':30}]
my_list

[{'a': 2, 'b': 26, 'c': 28},
 {'a': 19, 'b': 12, 'c': 29},
 {'a': 27, 'b': 23, 'c': 30}]

In [36]:
pd.DataFrame(my_list)

    a   b   c
0   2  26  28
1  19  12  29
2  27  23  30

In [47]:
my_list.head(1)

   a   b   c
0  2  26  28

In [49]:
my_list.tail(1)

    a   b   c
2  27  23  30

In [50]:
my_list.index

RangeIndex(start=0, stop=3, step=1)

In [54]:
my_list.shape

(3, 3)

In [61]:
my_list.iloc[-1]

a    27
b    23
c    30
Name: 2, dtype: int64

*I know that I did not do this assignment perfectly but I didn't give up! I thought I had everything down from being in class, and that was not the case. Now I know what I need to work on and continue to challenge myself on.*

**Why are dynamic, interactive data visualizations useful when communicating data?**
*According to the text from Murray (2017) Chapter 1, interactive data visualization is useful when communicating data because it is a powerful tool in allowing people to explore and get to know the data for themseleves. This design can also be useful in addressing multiple concerns within different audiences, creating an engagment that stats alone, simply can not.*